name: Docker Build and Push

on:
  push:
    branches:
      - main  # Replace with your branch name

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME1 }}
          password: ${{ secrets.DOCKERHUB_TOKEN1 }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./Argo-Global/src  # Path to the Dockerfile and build context
          push: true
          tags: |
            sharonkohen/sharoncohen1:${{ github.sha }}

      - name: Logout from Docker Hub
        run: docker logout
